body
    margin: 0
    padding: 0

.nav-top
    position: relative
    width: auto
    height: auto
    box-sizing: border-box
    float: right

    ul
        list-style: none
        margin: 0
        padding: 0
        position: relative

        li
            display: block
            margin: 1px
            float: left

            a
                text-decoration: none
                display: block
                padding: 8px

        li::after
            clear: both

.post-section
    .post-title
        font-size: 2rem
        margin: 0
        padding: 0

    .post-content
        p
            line-height: 1.4
            font-size: 1rem
            margin-bottom: 15px

.p-a
    padding: 20px

.p-a-t
    padding-top: 20px

.p-b
    padding: 30px

.p-b-t
    padding-top: 30px

.header-c
    box-sizing: border-box
    width: 100vw
    height: 20vh
    background-color: #FF5759

    *
        padding: 0
        margin: 0

    h1
        display: inline-block
        @extend %theme-red















// Custom Class
%theme-blue
    background-color: #B2FFEB
    color: #292929

%theme-red
    background-color: #FF2D28
    color: #FFFFFF

.a-bc-blue
    a
        @extend %theme-blue

.a-bc-red
    a
        @extend %theme-red

.a-br-s
    a
        border-radius: 5px
